body{
    margin: 0;
    padding: 0;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.align{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 1480px;
    background:linear-gradient(rgb(44, 44, 44),transparent)
}
.header{
    width: auto;
    height: 500px;
    background-image: url(giphy.gif);
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
}
.logo{
    padding: 5px;
    width: 58px;
    border-radius: 50%; 
}

.nav-up{
    margin: 0;
    background-blend-mode: color-dodge;
    padding: 15px;
    list-style-type: none;
}

.nav-up li{
    display:inline-block;
    margin-right: 20px;
}

.nav-up a{
    color: white;
    text-decoration: none;
    size: 10px;
    padding-top: 10px;
    background-color: none;
}

.nav-up a:hover{
    color: black;
    background-color: white;
    border-radius: 10%;
    size: 10px;
    padding: 10px;
}

.sec3{
    background-size: 100%;
    margin: 20px;   
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
}

.events{
    margin: 50px 30px;
    background-color: white;
    width: 270px;
    height:400px;
    margin-top: 20px;
    border: 1px solid rgb(217, 217, 217) ;

}
.events:hover{
    box-shadow: grey 0 0 10px;

}
.events img{
    width: 270px;
    height: 150px;
}
.sec3 a{
    text-decoration: none;
}


.eve{
    margin: 15px;
    margin-top: 10px;
    color: rgb(22, 15, 46);
}
.eve-time{
    margin: 15px;
    color: rgb(175, 54, 10);
}

.eve-org{
    margin: 15px;
    padding-top: 10px;
    color: grey;
}

.foot{
    background-color: rgb(42, 42, 57);
    width: 1480px;
    height: 300px;
    display: flex;
}
.col1{
    height: 250px;
    width: 380px;
}
.foot-links{
    list-style: none;
    padding-top: 30px;

}

.foot-links a{
    color: white;
    text-decoration: none;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-size: small;

}
.foot-links a:hover{
    color: rgb(82, 170, 199);
    text-decoration: none;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;

}
.last{
    width: 1480;
    height: 50px;
    background-color: rgb(72, 72, 90);
}
.left{
    margin-top: 0px;
    padding-top: 13px;
    text-align: center;
}
.left a{
    text-decoration: none;
    color: white;
}
.left a:hover{
    text-decoration: solid;
    color:rgb(82, 170, 199) ;
}

